.mailcode-bracket,
.mailcode-hyphen,
.mailcode-token-operand{
color:#839496;
}

.mailcode-command-name,
.mailcode-logic-or,
.mailcode-logic-and{
color:#dc322f;
}

.mailcode-command-type,
.mailcode-token-keyword{
color:#b58900;
}

.mailcode-token-variable{
color:#268bd2;
}

.mailcode-token-stringliteral{
color:#859900;
}

.mailcode-token-number{
color:#6c71c4;
}