docs/cache/
docs/config/cache/
docs/phpdoc/build/api
docs/phpdoc/build/cache
vendor
docs/phpstan/output.txt
.idea/
.phpunit.result.cache
localization/storage.json
tests/assets/files/test-highlight-output.html
tests/assets/files/test-highlight-marked-variables.html
tests/assets/files/test-highlight-output-raw.html
docs/config/resultCache.php
docs/phpdoc/phpDocumentor.phar
composer.phar
