<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Collection">
            <directory suffix=".php">./tests/testsuites/Collection</directory>
        </testsuite>
        <testsuite name="Commands">
            <directory suffix=".php">./tests/testsuites/Commands</directory>
        </testsuite>
        <testsuite name="Factory">
            <directory suffix=".php">./tests/testsuites/Factory</directory>
        </testsuite>
        <testsuite name="Formatting">
            <directory suffix=".php">./tests/testsuites/Formatting</directory>
        </testsuite>
        <testsuite name="Highlighting">
            <directory suffix=".php">./tests/testsuites/Highlighting</directory>
        </testsuite>
        <testsuite name="Isolated">
            <directory suffix=".php">./tests/testsuites/Isolation</directory>
        </testsuite>
        <testsuite name="LogicKeywords">
            <directory suffix=".php">./tests/testsuites/LogicKeywords</directory>
        </testsuite>
        <testsuite name="Mailcode">
            <directory suffix=".php">./tests/testsuites/Mailcode</directory>
        </testsuite>
        <testsuite name="Numbers">
            <directory suffix=".php">./tests/testsuites/Numbers</directory>
        </testsuite>
        <testsuite name="Parser">
            <directory suffix=".php">./tests/testsuites/Parser</directory>
        </testsuite>
        <testsuite name="StringContainer">
            <directory suffix=".php">./tests/testsuites/StringContainer</directory>
        </testsuite>
        <testsuite name="Translator">
            <directory suffix=".php">./tests/testsuites/Translator</directory>
        </testsuite>
        <testsuite name="Validator">
            <directory suffix=".php">./tests/testsuites/Validator</directory>
        </testsuite>
        <testsuite name="Variables">
            <directory suffix=".php">./tests/testsuites/Variables</directory>
        </testsuite>
    </testsuites>
</phpunit>
